@import 
	url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
	*{
		padding:0 0;
		margin:0 0;
		font-family: 'Alike', serif;
	}
h1{
	margin: 0 0;
	font-size: 50px;
	font-family: 'Arizonia', cursive;
	text-align: center;
	color:rgb(170, 198, 255);
	background:rgb(204, 243, 255);
}

a{
	text-decoration:none;
	color:black;
	}

.source{
	display:block;
	color:black;
    width:200px;
	margin:0 auto 0 auto;
	padding : 0.25em 0.25em;
	text-align:center;
	background: rgb(230, 230, 255); 
}

img{
	display:block;
	width:333px;
	margin:0px auto;
}

p{
	text-align:justify;
	width: 800px;
	margin:0.25em auto;
	
}

ol,li{
	display: inline;
	
}

nav{
	text-align: center;
	margin: 1em 0 2em 0;
}

a:hover,
a:focus{
	background:rgb(230, 230, 255,0.6)
}

a[class|=menu] /* select any class whose value is menu, or menu hyphen something */{
	/* display:block; */
	padding: 0.5em 0.5em;
	margin:0.5em auto;
	width: 90px;
	border:0.25em solid rgb(99, 156, 235);
	border-radius:10px;
	text-align:center;
	color: blue;
		
}
 nav::before{
	 display :block;
	 margin: 0 0 1em 0;
	 content:"For further read about coral reel's: "
 }

/* nav a {
	text-decoration:none;
} */